<div class="row" ng-if = "loggedIn">
    <div class="col-lg-8">
        <div class="page-header">
            <h1 style = "text-align:center">Profile Details</h1>
        </div>

       <div class = "form-group">
            <form role="form">
                <table class="table table-striped table-hover">
   
                        <tr>
                            <!-- <td>1</td> -->
                            <td>First Name</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{firstName}}</td>
                            <td ng-if = "editting_profile">
                            	<input type="text" ng-model = "profile.fname" class="form-control editField" value="{{firstName}}" >
                            </td>
                            
                        </tr>
                        <tr>
                            <!-- <td>2</td> -->
                            <td>Last Name</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{lastName}}</td>
                            <td ng-if = "editting_profile">
                            	<input  ng-model = "profile.lname" type="text" class="form-control editField" value="{{lastName}}" >

                            </td>
                            
                            
                        </tr>
                        <tr class="danger">
                            <!-- <td>3</td> -->
                            <td>Email ID</td>
                            <td>{{email}}</td>
                            
                        </tr>
                        <tr class="">
                            <!-- <td>4</td> -->
                            <td>Address</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{address}}</td>
                            <td ng-if = "editting_profile"><input type="text" ng-model = "profile.address" class="form-control editField" value="{{address}}" ></td>
                            
                        </tr>
                        <tr class="">
                            <!-- <td>5</td> -->
                            <td>City</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{city}}</td>
                            <td ng-if = "editting_profile"><input ng-model = "profile.city" type="text" class="form-control editField" value="{{city}}" ></td>
                            
                        </tr>
                        <tr class="">
                            <!-- <td>6</td> -->
                            <td>Country</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{country}}</td>
                            <td ng-if = "editting_profile"><input type="text" ng-model = "profile.country" class="form-control editField" value="{{country}}" ></td>
                            
                        </tr>
                        <tr class="">
                            <!-- <td>7</td> -->
                            <td>Postal Code</td>
                            <td ng-if = "!(editting_profile&&editting_password)">{{postal_code}}</td>
                            <td ng-if = "editting_profile"><input ng-model = "profile.postal_code" type="text" class="form-control editField" value="{{postal_code}}" ></td>
                            
                        </tr>
                        <tr class="">
                            <!-- <td>8</td> -->
                            <td>Coordinates</td>
                            <td ng-if = "!(editting_profile&&editting_password)">Latitude: {{coordinates.split(', ')[0]}} and Longitude: {{coordinates.split(', ')[1]}}</td>
                            <td ng-if = "editting_profile"><button class="btn btn-mini glyphicon glyphicon-map-marker form-control" ng-click="Plocation_button()"></button> </td>
                            <!-- <td ng-if = "!editting_profile">{{coordinates}}</td>
                            <td ng-if = "editting_profile"><input type="text" ng-model = "profile.coordinates" class="form-control editField" value="{{coordinates}}" ></td> -->
                        </tr> 



                        <tr>
                        <td class="" ng-if="editting_password">
                            <span>Password</span>
                            <span><input ng-model = "profile.password" type="password" class="form-control editField" placeholder="Password" ng-change="pass_check()"></span>
                        </td>
                        <td class="" ng-if="editting_password">
                            <span>Re-enter Password</span>
                            <span><input ng-model = "profile.re_password" type="password" class="form-control editField" placeholder="Re-type Password" ng-change="pass_check()" ></span>
                            <span ng-if="disableSubmit" style="position: relative; top: 50%; color: red;">Password mismatch.</span>
                        </td>
                        

                        </tr>
                        </tbody>
                </table>
                <a ng-click = "profileEdit_button()" class="btn btn-primary">Edit Profile</a>
                <a ng-click = "passwordEdit_button()" class="btn btn-primary">Edit Password</a>
                <button ng-if = "(editting_profile||editting_password)" ng-disabled="disableSubmit" type="submit" class="btn btn-default" style = "align:center" ng-click = "profileSubmit()" >Submit</button>
                
            </form>
        </div>
    </div>

<!-- 
    <div class='row center'>
        
    </div>
-->
    

    <script type="text/javascript">
    	$(document).ready(function () {
    	    $('.editBtn').click(function () {
    	        if ($('.editField').is('[readonly]')) { //checks if it is already on readonly mode
    	            $('.editField').prop('readonly', false);//turns the readonly off
    	            $('.editBtn').html('Edit'); //Changes the text of the button
    	            $('.editBtn').css("background", "green"); //changes the background of the button
    	            $('.editBtn').css("border", "green"); //changes the border of the button
    	        } else { //else we do other things
    	            $('.editField').prop('readonly', true);
    	            $('.editBtn').html('Edit');
    	            $('.editBtn').css("background", "red");
    	        }
    	    });

    	});
    </script>




</div>
<div ng-if = "!loggedIn" style = "text-align:center">
	<h2>Please Login to see your profile.</h2>
	
</div>


<script type="text/javascript">
 	$(document).ready(function () {
 	    $('.editBtn').click(function () {
 	        if ($('.editField').is('[readonly]')) { //checks if it is already on readonly mode
 	            $('.editField').prop('readonly', false);//turns the readonly off
 	            $('.editBtn').html('Edit'); //Changes the text of the button
 	            $('.editBtn').css("background", "green"); //changes the background of the button
 	            $('.editBtn').css("border", "green"); //changes the border of the button
 	        } else { //else we do other things
 	            $('.editField').prop('readonly', true);
 	            $('.editBtn').html('Edit');
 	            $('.editBtn').css("background", "red");
 	        }
 	    });

 	});
</script>

<style type="text/css" >
	 body {
	    margin: 10px;
	}
	.btn-danger {
	    background:red;
	}
	.editField {
	    margin-top:10px;
	}
</style>