<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" style="width:1200px;">
<!-- chromium-browser --disable-web-security -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eventify</title>
    <link rel="stylesheet" href="{% static 'WebApp/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'WebApp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WebApp/bootstrap/css/theme.css' %}">






    <style>
    body {
        padding-top: 70px;
         /*Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>

{% verbatim %}
<body  ng-app="eventify">
  


    <div ng-controller="mainController">
       <!-- Navbar -->
       <div class="row">
           <div class="col-lg-12">
               <div class="navbar navbar-inverse navbar-fixed-top" >
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                       <a class="navbar-brand" href="#/" on-click="function(){console.log('dabaya');window.scrollTo(0,0);})();">Eventify</a>
                   </div>
                   <div class="navbar-collapse collapse navbar-inverse-collapse">
                       
                       <div class=" main-frame pull-left" >
                       
                           <div style="padding-top: 10px; padding-left:30px; padding-right:30px;" class="search-box row-fluid form-inline input-append">
                               <input class = "input-xlarge form-control" style="width:480px;" ng-model="titleQuery" placeholder="Event Search" ng-change="queryChanged()"> 


                               
                               <select ng-model="selected_country" class="form-control" style="width:180px;">
                                   <option value="">-Select Country-</option>
                                   <option  ng-repeat="country in country_keys" value="{{country}}">{{ countries[country] }}</option>
                               </select>

                               <select ng-model="selected_time_range" class=" form-control">
                                   <option value="">-Select Time Range-</option>
                                   <option value="0">Today</option>
                                   <option value="1">This Week</option>
                                   <option value="2">This Month</option>
                               </select>
                               

                               <button class="btn btn-default glyphicon glyphicon-map-marker form-control" ng-click="location_button()"></button>

                               <button type="Submit" id="search_button" class="btn btn-default form-control" ng-click="search_button()" ng-disabled="disableSearch">Submit</a></button>
                               
                           </div>

                        </div>



                      <ul class="nav navbar-nav" style="margin-left:60px;">


                      <li ng-if="!loggedIn"><a class="btn btn-launch" href="javascript:void(0);" data-toggle="modal" data-target="#loginModal"> Login/SignUp </a></li>
                       
                       <li ng-if="loggedIn">
                       <a class="dropdown-toggle" data-toggle="dropdown"> Me <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                            <li>
                                <a class="btn btn-launch" href="#myprofile"> View Profile </a>
                            </li>
                            <li>
                                <a class="btn btn-launch" href="#myfav"> Favourites </a>
                            </li>
                            <li>
                                <a class="btn btn-launch" ng-click="logout()"> Logout </a>
                            </li>
                      </ul>
                      </li>

                   </div>
               </div>
           </div>
       </div>

      <div ng-if="registered" style="margin-left:20px; text-align:center;" class="alert alert-success  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p> Great!  You've successfully registered.</p>
      </div>


      <!-- -User Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content login-modal">
                  <div class="modal-header login-modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="loginModalLabel">User Authentication</h4>
                  </div>
                  <div class="modal-body">
                      <div class="text-center">
                          <div role="tabpanel" class="login-tab">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" ng-class="{active: !passwordChangeIni}"><a id="signin-taba" href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign In</a></li>
                                  <li role="presentation"><a id="signup-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
                                  <li role="presentation" ng-if="passwordChangeIni" ng-class="{active: passwordChangeIni}"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Forgot Password</a></li>
                              </ul>
                          
                              <!-- Tab panes -->
                              <div class="tab-content">

                              <!-- login -->
                                  <div role="tabpanel" class="tab-pane active text-center" id="home">
                                      &nbsp;&nbsp;
                                      <span id="login_fail" class="response_error" style="display: none;">Loggin failed, please try again.</span>
                                      <div class="clearfix"></div>
                                      <form>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                  <input type="text" class="form-control" id="login_email" ng-model = "lmodel.email" placeholder="Email">
                                              </div>
                                              <span class="help-block has-error" id="email-error"></span>
                                          </div>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                                  <input type="password" class="form-control" id="password" ng-model = "lmodel.password" placeholder="Password">
                                              </div>
                                          </div>
                                          <button type="button" id="login_btn" class="btn btn-block bt-login" data-loading-text="Signing In...." ng-click = "login_button()">Login</button>
                                          <div class="clearfix"></div>
                                      </form>
                                  </div>



                                  <!-- register -->
                                  <div role="tabpanel" class="tab-pane" id="profile">
                                      &nbsp;&nbsp;
                                      <span ng-if="reg_complete == false" id="registration_fail" class="response_error"  style="display: none;">Registration failed, please try again.</span>
                                      <div class="clearfix"></div>
                                      <form>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                  <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model = "rmodel.fname" >
                                              </div>
                                              <span class="help-block has-error" data-error='0' id="username-error"></span>
                                          </div>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                  <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model = "rmodel.lname" >
                                              </div>
                                              <span class="help-block has-error" data-error='0' id="username-error"></span>
                                          </div>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                                  <input type="text" class="form-control" id="remail" placeholder="Email" ng-model = "rmodel.email" required>
                                              </div>
                                              <span class="help-block has-error" data-error='0' id="remail-error"></span>
                                          </div>

                                          <div class="form-group">
                                              <div class="input-group">
                                                  <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                                  <input type="text" class="form-control" id="rpassword" placeholder="Password" ng-model = "rmodel.password" required>
                                              </div>
                                              <span class="help-block has-error" data-error='0' id="password-error"></span>
                                          </div>


                                          <button type="button" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering...." ng-click = "register_button()" >Register</button>
                                          <div class="clearfix"></div>
                                      </form>

                                      


                                  </div>

                                  <!-- forgot password -->

                                  <div role="tabpanel" class="tab-pane text-center" id="forget_password">
                                      &nbsp;&nbsp;
                                      <span id="reset_fail" class="response_error" style="display: none;"></span>
                                          <div class="clearfix"></div>
                                          <form>
                                              <div class="form-group">
                                                  <div class="input-group">
                                                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                      <input type="text" class="form-control" id="femail" placeholder="Email" ng-model = "fmodel.email">
                                                  </div>
                                                  <span class="help-block has-error" data-error='0' id="femail-error"></span>
                                              </div>
                                              
                                              <div class="clearfix"></div>                                        
                                          </form>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      
                  </div>
             </div>
          </div>


    </div>




  

  


    <div ng-view></div>


    {% endverbatim %}


    <script src="{% static 'WebApp/scripts/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'WebApp/scripts/angular.min.js' %}"></script>
    <script src="{% static 'WebApp/scripts/angular-route.js' %}"></script>
    <script src="{% static 'WebApp/scripts/angular-cookies.js' %}"></script>
    <script src="{% static 'WebApp/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'WebApp/scripts/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebApp/scripts/controllers/mainController.js' %}"></script>
    <script type="text/javascript" src= "{% static 'WebApp/scripts/services/AuthToken.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebApp/scripts/controllers/homeController.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebApp/scripts/controllers/myfavController.js' %}"></script>
    <script type="text/javascript" src="{% static 'WebApp/scripts/controllers/searchController.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'WebApp/scripts/controllers/myprofileController.js' %}"></script>

</body>





</html>